Test/Service References/MyService/DBService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightGIS.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightGIS.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Info" nillable="true" type="tns:Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfo" nillable="true" type="tns:ArrayOfInfo" />
  <xs:complexType name="Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Info" nillable="true" type="tns:Info" />
  <xs:complexType name="ArrayOfOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderInfo" nillable="true" type="tns:OrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderInfo" nillable="true" type="tns:ArrayOfOrderInfo" />
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PsgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
</xs:schema>